* {margin: 0;
padding: 0;
box-sizing: 0;}



header {
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(81, 160, 212);
    color: green;
}

header li { display: inline-block;
}


main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    margin-bottom: 8px;
}

ul {
    list-style-type: none;
}

section {
    height: 100%;
    padding: 16px;
}

main {
    height: 100vh;
    background: lightcyan;
}

.gallery  {
    background: darkcyan;
    height: 50%;
}

.tile {
    height: 300px;
    width: 300px;
    background: yellow;
    display: flex;
    
}

.headerList {
    font-weight: 600;
    color: whitesmoke;

}