body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
main {
    margin: 20px;
}
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}