* {margin: 0;
    padding: 0;
    box-sizing: 0;}
    
ul{
        list-style-type: none;
    }

    header {
        margin: 18px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    main {
        margin: 18px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }
    
    footer {
        margin: 18px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }