* {margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 1.5vw;
}
    
ul{
        list-style-type: none;
    }

    header {
        margin: 18px;
        font-family: Arial, sans-serif;
        background-color: whitesmoke;
    }

    main {
        margin: 18px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }
    
    footer {
        margin: 18px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    .grid-list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .grid-list li {
        padding: 10px;
        text-align: center;
    }