/*Stil für Bilder*/
img {
    width: 150px;
    height: auto;
}


/* Basisstil für den Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Stil für den Header */
header {
    background-color: #f8f9fa;
    padding: 10px 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header li {
    display: inline;
}

/* Stil für den Footer */
footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

footer li {
    display: inline;
}

/* Stil für Links */
a {
    text-decoration: none;
    color: #007bff;
}

/* Stil für die main section */
main {
    padding: 20px;
}

/* Stil für die section */
section {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Stil für das Hauptüberschrift */
h1 {
    font-size: 24px;
    color: #333;
}

/* Stil für die Unterüberschrift */
h2 {
    font-size: 20px;
    color: #666;
}

h3 {
    font-size: 16px;
    color: #32405D;
    margin-bottom: 4px;
}

p {
    margin: 0;
}

.Bold {
    font-weight: 600;
}